@import url('../../../styles/_variables.css');

.link{
    text-decoration:none;
}

/* type */
.link--white{
    color: var(--color-white);

}

.link--hyperlink{
    
    color: var(--color-white);
}

/* variant */

.link-white{ 
    color: var(--color-white);
}

.link--neutral{ 
    
    color: var(--color-success);
}
/* sizes */
.link--small{ 
    font-size: var(--text-m);
    /* padding: 1.5%; */

}

.link--medium{ 
    font-size: var(--text-l);
    /* padding: 1.5%; */

}

.link--big{ 
    font-size: var(--text-xl);
    padding: 1.5%;
    align-items: center;
    text-align: center;
}

/* pseudo classes */
.link--white:visited {
    
    color: var(--color-white);
}