@import url('../../../styles/_variables.css');

.link{
    text-decoration:none;
}

.btn { 
    color: var(--color-black);

}
/* type */
.link--logo{
    color: var(--color-white);

}

.link--icon{
    
    color: var(--color-white);
}

/* variant */

.link-white{ 
    color: var(--color-white);
}
/* sizes */


.link--medium{ 
    font-size: var(--text-l);
    /* padding: 1.5%; */

}

.link--big{ 
    font-size: var(--text-xl);
    padding: 1.5%;
    align-items: center;
    text-align: center;
}

/* pseudo classes */
.link:visited {
    
    color: var(--color-white);
}