@import url('../../../styles/_variables.css');


.slider-container {

  /* ... tus estilos existentes ... */
  min-width: 100%;
  max-width: 1500px;
  max-height: 300px;
}

/* 1. Controla el contenedor interno que crea react-slick */
.slick-list {
  max-height: 300px;
  overflow: hidden; /* Esto es crucial para ocultar el exceso de la imagen */
}
