.horizontal-carrousel-container{
    width: 80%;
    border:1px solid blue ;

    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    min-height: 300px;

}

.horizontal-carrousel-list-items-container{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.carrousel-header{
    
    border:1px solid red ;
}

