.img-viewer-container{


   
}

.img-viewer-body{
    display: grid;
    grid-template-columns: 10% 1fr;
     gap: 15px;
}
.img-viewer-preview-list{
    

}
.img-viewer-showing-item{
    

}
.img-viewer-footer-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}