@import '../../../styles/_variables.css';

/* generic */
.btn {
    /* color: var(--color-black); */
}

/* color */
.btn--primary{
    background-color: var(--color-primary);
}

.btn--ligth{
    background-color: var(--color-light-primary);
    /* border: 1px solid red; */
}

/* type */

.btn--search { 
   border-top-right-radius: 5px; 
   border-bottom-right-radius: 5px; 
}
/* size */

.btn--medium{
    font-size: 23px;
    padding: 2%;
    text-align: center;
}

.btn--big{
    font-size: 2em;
    padding: 1%;
    text-align: center;
}

/* .primary-btn{
    text-decoration: none;
}
.primary-btn-container{
    
    background-color: var(--color-success);
    color: var(--color-white);
    font-size: 0.9em;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;
}
.primary-btn-span{
    
}


.shopping-cart-btn{
    align-items: center;
}

.success-btn{
    background-color: var(--color-success);
    align-items: center;
    padding: 2%;
    border: none;
    border-radius: 5px;

    color: var(--color-white);
    width: 150px;
}

.secondary-btn{
    background-color: var(--color-primary);
    align-items: center;
    padding: 2%;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    width: 150px;
} */