@import '../../../styles/_variables.css';


.btn-login{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1em;
    padding: 1%;
    text-align: center;
}


.primary-btn{
    text-decoration: none;
}
.primary-btn-container{
    
    background-color: var(--color-success);
    color: var(--color-white);
    font-size: 0.9em;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;
}
.primary-btn-span{
    
}

.btn-icon-white{
    
    color: var(--color-white); 
    background-color: var(--color-secondary-black);
    border:1px solid var(--color-black);
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    padding: 0.7%;

    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.btn-icon-white:hover{
    
    background-color: var(--color-third-black);
}
/* icons */
.nav-bar-icon-s, .nav-bar-icon-m, .nav-bar-icon-l{

    color: var(--color-white); 
}

.nav-bar-icon-s{

    font-size: 15px;
}

.nav-bar-icon-m{

    font-size: 25px;
}

.shopping-cart-btn{
    align-items: center;
}

.success-btn{
    background-color: var(--color-success);
    align-items: center;
    padding: 2%;
    border: none;
    border-radius: 5px;

    color: var(--color-white);
    width: 150px;
}

.secondary-btn{
    background-color: var(--color-primary);
    align-items: center;
    padding: 2%;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    width: 150px;
}