@import url('../../../styles/_variables.css');

.card-category-product-home-container{
    

    background-color: var(--color-white);
    padding: 1%;

    
}

.card-result-product-container{
    /* border: 1px solid blueviolet; */
    border-radius: 4px;
    background-color: var(--color-white);
    min-height: 200px;

    margin-left: auto;
    margin-right: auto;
    width: 97%;
    margin-bottom: 0.6%;

    display: grid;
    grid-template-columns: 18% 1fr;
}
.card-result-img-container{
    
    border: 1px solid blueviolet;
}
.card-category-product-home-header, .card-category-product-home-body, .card-category-product-home-footer{

    margin-left: auto;
    margin-right: auto;

}

.card-category-product-home-header{
    width: 98%;
    margin-top: 4%;
    max-height: 20px;
}

.card-category-product-home-body{
    
    width: 90%;

    display: grid;
    /* Crea una cuadrícula de 2 columnas con el mismo tamaño */
    grid-template-columns: 1fr 1fr;
    /* Crea una cuadrícula de 2 filas con el mismo tamaño */
    grid-template-rows: 1fr 1fr;
    /* Un espacio opcional entre los cuadrados */
    gap: 5px;

    padding: 0.7em;


}

.card-category-product-home-footer{
    
    width: 94%;


}

.generic-card-container{
    
    background-color: var(--color-white);
    max-height: 30%;
    width: 100%;
}

.generic-card-body{
    text-align: center;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}


.sponsored-product-card-container{
    background-color: var(--color-white);
    height: 70%;
    width: 90%;
    /* border:var(--test-border); */
    margin: auto auto auto auto;

}

.sponsored-product-card-container-header, 
.sponsored-product-card-container-body,
.sponsored-product-card-container-footer{

    margin-left: auto ;
    margin-right: auto;
}

.card-img-container{

  /* border:var(--test-border); */
    width: 70%;
    margin-top: 3%;
    margin-left: auto ;
    margin-right: auto;
}
.sponsored-product-card-container-header{
    margin-top: 2%;
    width: 90%;

}

.sponsored-product-card-container-body{
    
    margin-top: 2%;
  /* border:var(--test-border); */
    width: 85%;

}

.sponsored-product-card-container-footer{
    

  /* border:var(--test-border); */
    margin-top: 8%;
    width: 95%;
}

.product-cover-card{
    border: 1px solid yellow;
    /* width: ; */
}
.product-actions-card-container{

    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
    margin-left: 2.0%;
    padding: 1%;
}
.product-actions-header, .product-actions-body{
    border: 1px solid red;
    
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.product-actions-body-section{
    border: 1px solid red;
    padding: 1%;
}
/* .product-actions-body{

} */