.riel{

    /* border: 1px solid yellow; */
}
.riel-header{
    
    
    /* border-bottom: 1px solid yellow; */

}
.riel-body-container{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:25px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}