/* src/styles/_variables.css */

:root {

  --color-primary: #061b2e;
  --color-success: #0163cc;
  
  --color-success-hover: #0050a5;
  
  --color-warning:#B31000;

  --color-alert:#ffbf35;
  --color-neutral:#B37400;
  --color-positive:#008500;
  --color-secondary: #e7e7e7;
  --color-background:#f3f3f3;

  --color-background-secondary: #fafcfd;

  --color-black: #000;
  --color-white: #fff;
  --color-light-gray:#a09b9b;
  
  --color-light-primary: #afcff1;

  --color-dark-gray: #8d8d8d;

  --color-border-secondary: #dad9d9;

  --color-secondary-black:#202020;
  --color-third-black:#2c2c2c;

  --test-border:1px solid red;

  /* text sizes */
  --text-s: 9px;
  --text-m: 11px;
  --text-l: 14px;
  --text-xl: 18px;
  --text-xxl: 24px;
  --text-super: 30px;
}