@import url('../../../styles/_variables.css');

.title{ 
    margin-bottom: 0;
    font-weight: 550;
}

.title--small{ 
    
    font-size: 12px;
}

.title--big{ 
    
    font-size: 20px;
}

.title--ligth{ 
    color: var(--color-success);
}

.title--neutral{ 
    color: var(--color-dark);
}

.title--bold{ 
    font-weight: 600;
}

