@import url('../../../styles/_variables.css');

/* Haz que la imagen se adapte a su espacio */
.img-slider {
  max-width: 100%;
  max-height: 300px;
  /* Mantiene la proporción de la imagen */
  height: auto; 
}

.img-items{
  min-height: 100px;
  max-height: 100px;
  max-width: 100px;
}

.card-cover-img{
  
  height: 100%;
  width: 100%;

  /* border:var(--test-border) */
}

.img-card-cover{

  
  height: 200px;
  
  width: 100%;
}



.img-viewer-showing-item{
  
  height: 100%;
  
  width: 100%;
}
.img-viewer-preview-item:hover{
  
  border:1px solid red ;
}
.img-viewer-preview-item{
  
  border:1px solid var(--color-secondary-dark) ;
  border-radius: 5px;
  height: 50px;
  
  width: 50px;
}