@import url('../../../styles/_variables.css');

.item-container{

    

}

.detail-item-row{
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.detail-item{
    border: 1px solid red;
}
